


.banner-container{
    width: 100%;
    background-color: #151A5E;
    padding: 20px 0px;
    color:white;
    justify-content:space-between;
}
.banner-container-1,
.banner-container-1 p{
    margin-left: 1rem;
    align-items: center;
}