.container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    outline: none;
    margin-bottom: 1.5em;
    width: 250px;
    height: 60px;
}
.mr-5 {
    margin-right: 40rem;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 100%;
}